<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bakin Mania | Question</title>
    <link rel="stylesheet" href="https://muffinui.netlify.app/style.css" />
    <link rel="stylesheet" href="question.css" />
    <script
      src="https://kit.fontawesome.com/c89017add5.js"
      crossorigin="anonymous"
    ></script>
    <!-- added for favicon-->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../../../assets/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../../../assets/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../../../assets/favicon-16x16.png"
    />
    <link rel="manifest" href="../../../assets/site.webmanifest" />
    <link
      rel="mask-icon"
      href="../../../assets/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body>
    <div class="pagewrapper">
      <!-- HEADER NAVIGATION -->
      <nav class="nav-container">
        <div class="brand">
          <a href="../../../index.html"
            ><img src="/src/images/logo.webp" alt="muffin-logo" class="logo"
          /></a>
          <a href="../../../index.html" class="brand-name">Bakin Mania</a>
        </div>
        <ul>
          <li class="nav-icon">
            <a href="#" rel="noreferrer" aria-label="search">
              <i class="fa fa-solid fa-search fa-lg nav-icon"></i>
            </a>
          </li>
          <li class="nav-icon">
            <a href="#" rel="noreferrer" aria-label="account">
              <i class="fas fa-trophy fa-lg nav-icon"></i>
            </a>
          </li>
          <li class="nav-icon">
            <a
              href="../authentication/signout.html"
              rel="noreferrer"
              aria-label="account"
            >
              <i class="fa fa-solid fa-user fa-lg nav-icon"></i>
            </a>
          </li>
        </ul>
      </nav>

      <!-- MIDDLE SECTION STARTS-->
      <!-- MAIN SECTION -->
      <main class="main-container flex-row-center">
        <div class="question-container flex-column-center">
          <div class="question-timer-container flex-row-center">
            <div class="question-number">Question 1</div>
            <div class="timer">
              <i class="fas fa-stopwatch keyword"></i>
              <span>00:59</span>
            </div>
          </div>
          <div class="question-and-options flex-column-center">
            <div class="question-header">
              Which common cake ingredient can be replaced with a mashed banana?
            </div>
            <div class="options-container flex-column-center">
              <label class="option-label">
                <input type="radio" class="option" name="option" />Eggs
              </label>
              <label class="option-label">
                <input type="radio" class="option" name="option" />Butter
              </label>
              <label class="option-label">
                <input type="radio" class="option" name="option" />Milk
              </label>
              <label class="option-label">
                <input type="radio" class="option" name="option" />Flour
              </label>
            </div>
            <button
              class="btn btn-primary"
              onclick="location.href = '../result/result.html'"
            >
              Next >>
            </button>
          </div>
        </div>
      </main>
      <!-- MIDDLE SECTION ENDS-->

      <!-- FOOTER -->
      <footer class="footer-container flex-column-center">
        <p class="footer-header">
          Made with <span>&lt;/&gt;</span> by Roma Bulani
        </p>
        <ul>
          <li class="footer-item">
            <a
              href="https://github.com/romabulani"
              target="_blank"
              rel="noreferrer"
              aria-label="github"
            >
              <i class="fa fa-github footer-icon fa-lg" aria-hidden="true"></i>
            </a>
          </li>
          <li class="footer-item">
            <a
              href="https://twitter.com/romabulani"
              target="_blank"
              rel="noreferrer"
              aria-label="twitter"
            >
              <i class="fa fa-twitter footer-icon fa-lg" aria-hidden="true"></i>
            </a>
          </li>
          <li class="footer-item">
            <a
              href="https://www.linkedin.com/in/romabulani/"
              target="_blank"
              rel="noreferrer"
              aria-label="linkedin"
            >
              <i
                class="fa fa-linkedin footer-icon fa-lg"
                aria-hidden="true"
              ></i>
            </a>
          </li>
        </ul>
        <p class="copywright">© 2022 | Bakin Mania</p>
      </footer>
    </div>
  </body>
</html>
