<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bakin Mania | Password Reset</title>
    <link rel="stylesheet" href="https://muffinui.netlify.app/style.css" />
    <link rel="stylesheet" href="auth.css" />
    <script
      src="https://kit.fontawesome.com/c89017add5.js"
      crossorigin="anonymous"
    ></script>
    <!-- added for favicon-->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../../../assets/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../../../assets/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../../../assets/favicon-16x16.png"
    />
    <link rel="manifest" href="../../../assets/site.webmanifest" />
    <link
      rel="mask-icon"
      href="../../../assets/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body>
    <div class="pagewrapper">
      <!-- HEADER NAVIGATION -->
      <nav class="nav-container">
        <div class="brand">
          <img src="/src/images/logo.webp" alt="muffin-logo" class="logo" />
          <a href="../../../index.html" class="brand-name">Bakin Mania</a>
        </div>
        <ul>
          <li class="nav-icon">
            <a href="#" rel="noreferrer" aria-label="search">
              <i class="fa fa-solid fa-search fa-lg nav-icon"></i>
            </a>
          </li>
          <li class="nav-icon">
            <a href="#" rel="noreferrer" aria-label="account">
              <i class="fas fa-trophy fa-lg nav-icon"></i>
            </a>
          </li>
          <li class="nav-icon">
            <a href="#" rel="noreferrer" aria-label="account">
              <i class="fa fa-solid fa-user fa-lg nav-icon nav-icon-active"></i>
            </a>
          </li>
        </ul>
      </nav>

      <!-- MIDDLE SECTION STARTS-->
      <!-- CARDS SECTION -->
      <main class="content-container">
        <div class="flex-row-center">
          <div class="container-auth flex-column-center">
            <h4 class="heading4">RESET PASSWORD</h4>
            <form action="" class="form-auth">
              <input
                type="email"
                placeholder="Enter email"
                class="input-primary border-box"
                required
              />
              <button type="submit" class="btn btn-primary">
                RESET PASSWORD
              </button>
              <div>
                <span>Already have an account?</span>
                <a href="login.html" class="btn-link btn-link-primary"
                  >Login here</a
                >
              </div>
            </form>
          </div>
        </div>
      </main>
      <!-- MIDDLE SECTION ENDS-->

      <!-- FOOTER -->
      <footer class="footer-container flex-column-center">
        <p class="footer-header">
          Made with <span>&lt;/&gt;</span> by Roma Bulani
        </p>
        <ul>
          <li class="footer-item">
            <a
              href="https://github.com/romabulani"
              target="_blank"
              rel="noreferrer"
              aria-label="github"
            >
              <i class="fa fa-github footer-icon fa-lg" aria-hidden="true"></i>
            </a>
          </li>
          <li class="footer-item">
            <a
              href="https://twitter.com/romabulani"
              target="_blank"
              rel="noreferrer"
              aria-label="twitter"
            >
              <i class="fa fa-twitter footer-icon fa-lg" aria-hidden="true"></i>
            </a>
          </li>
          <li class="footer-item">
            <a
              href="https://www.linkedin.com/in/romabulani/"
              target="_blank"
              rel="noreferrer"
              aria-label="linkedin"
            >
              <i
                class="fa fa-linkedin footer-icon fa-lg"
                aria-hidden="true"
              ></i>
            </a>
          </li>
        </ul>
        <p class="copywright">© 2022 | Bakin Mania</p>
      </footer>
    </div>
  </body>
</html>
